{% load static %}
<div id="fh5co-page">
  <aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li style="background-image: url({% static 'base/images/img_bg_1.jpg'%});">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                <div class="slider-text-inner">
                  <h1>Intuitive <strong></strong> is How Give We the User New Superpowers</h1>
                  <h2>Transaction Management: Easily add, view, update, and delete financial transactions. <a href="/" target="_blank">Personal Finance Tracker</a></h2>
                    <p><a class="btn btn-primary btn-demo popup-vimeo" href="{% url 'login' %}"> <i class="icon-monitor"></i> Login</a> <a href="{% url 'register' %}" class="btn btn-primary btn-learn">Register<i class="icon-arrow-right3"></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url({% static 'base/images/img_bg_2.jpg'%});">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                <div class="slider-text-inner">
                  <h1>Financial Summaries.</h1>
                  <h2>Generate and view detailed summaries of your financial activities. <a href="/" target="_blank">Personal Finance Tracker</a></h2>
                  <p><a class="btn btn-primary btn-demo popup-vimeo" href="{% url 'login' %}"> <i class="icon-monitor"></i> Login</a> <a href="{% url 'register' %}" class="btn btn-primary btn-learn">Register<i class="icon-arrow-right3"></i></a></p>
              </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url({% static 'base/images/img_bg_3.jpg'%});">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                <div class="slider-text-inner">
                  <h1>Secure Authentication.</h1>
                  <h2>Integrated with Django for secure user authentication and data protection. <a href="/" target="_blank">Personal Finance Tracker</a></h2>
                  <p><a class="btn btn-primary btn-demo popup-vimeo" href="{% url 'login' %}"> <i class="icon-monitor"></i> Login</a> <a href="{% url 'register' %}" class="btn btn-primary btn-learn">Register<i class="icon-arrow-right3"></i></a></p>
              </div>
              </div>
            </div>
          </div>
        </li>
        </ul>
      </div>
  </aside>
</div>